::selection
  background color-gray
  color white
  text-shadow none

html
body
  height 100%
  margin 0
  padding 0
  box-sizing border-box
  overflow-x hidden
  background color-superlight

#homepage
  height 100%
  width 100%
  background color-dark url(image-cover)
  background-size cover
  display flex
  flex-direction column
  justify-content center
  font-family font-serif

  div
    color color-light
    text-align center
    position relative
    z-index 9000

    header
      background rgba(black, .3)
      border-top 1px solid rgba(color-lightgray, .5)
      border-bottom 1px solid rgba(color-lightgray, .5)
      padding 10px 0
      margin-bottom 15px

      h1
        margin 15px 0 .5em

      h2
        margin .5em 0 15px
        font-size 14px

  ul
    list-style none
    margin 0
    padding 0
    display inline-block

    li
      display inline-block
      margin 0 5px
      padding 0
      vertical-align top

    a
      color color-light
      background rgba(black, .5)
      padding .36em .72em
      height 1.2em
      border-radius 2em
      text-decoration none
      display inline-block
      transition background 300ms ease-in-out

      .fontello
        padding-right .4em

      &:hover
        color white
        background rgba(color-superlight, .2)

      &:active
        transform translate3d(0, 2px, 0)

    &.social

      a
        width 1.2em
        padding .36em

        .fontello
          padding 0

#avatar
  display block
  height 120px
  width 120px
  border 3px solid color-superlight
  border-radius 100px
  background color-light
  color color-dark
  box-shadow 0 0 3px 3px rgba(black, .3), inset 0 0 40px 2px rgba(black, .3)

  &.homepage
    height 180px
    width 180px
    margin 0 auto

  & + span
    border-radius 5px
    background rgba(color-lightgray, .4)
    color color-light
    font-size 20px
    padding 5px 12px
    margin 0 auto
    position relative
    top -244px
    opacity 0
    transition opacity 400ms ease-in-out, top 400ms ease-in-out

    &:after
      content ''
      position absolute
      border-top 7px solid rgba(color-lightgray, .4)
      border-left 7px solid color-transparent
      border-right 7px solid color-transparent
      bottom -7px
      left 50%
      margin-left -7px

  &:hover + span
    top -234px
    opacity 1

#responsive
  display none

#menu
  width menu-width
  height 100%
  padding 15px 0
  font-size 12px
  position fixed
  left 0
  top 0
  z-index 1
  background color-dark
  font-family font-serif

  &:after
    content ''
    display block
    height 0

  ul
    list-style none
    margin 0
    padding 0

    li
      margin 0
      padding 0

      a
        display block
        height 36px
        line-height 36px
        text-decoration none
        font-weight bold
        color color-lightgray
        padding-left 20px
        border-left 0px solid color-shiningblue
        transition border-left 300ms ease-in-out

        .fontello
          font-size 22px
          padding-right .4em
          vertical-align middle

        &:hover
          color color-light
          background rgba(black, 0.2)
          border-left 4px solid color-shiningblue

          .fontello
            color color-lightgray

  h3
    font-size 12px
    margin 15px 20px 10px
    padding-top 15px
    border-top 1px solid color-superdark
    box-shadow inset 0 1px 0 rgba(white, .08)
    color rgba(color-lightgray, .7)

#overlay
  display none
  background color-transparent
  position fixed
  z-index 8000
  left menu-width
  top 0
  right 0
  bottom 0

  &.homepage
    display block
    background rgba(black, .5)
    left 0

  body.menu-open &
    display block

#main
  height 100%
  box-sizing border-box
  transition transform 200ms ease-in-out
  position relative
  z-index 50
  display flex
  flex-direction row

  body.menu-open &
    transform translate3d(menu-width, 0, 0)

#banner
  position relative
  width banner-width
  min-width 300px
  max-width 500px
  height 100%
  font-family font-serif
  background color-dark url(image-cover)
  background-size cover
  box-shadow -1px 0 5px rgba(black, .5), 1px 0 5px rgba(black, .7)

  div
    position absolute
    left 0
    bottom 60px
    color color-light
    padding-left 60px

    h1
      margin-bottom .5em

    h2
      margin-top .5em
      font-size 14px

#toggle
  position fixed
  top 10px
  left 10px
  padding-left 10px
  padding-right 10px
  height 44px
  text-align center
  z-index 1000
  font-size 24px
  border 0
  outline 0
  background color-dark
  color color-light
  cursor pointer

  &:hover
    color color-superlight

  body.menu-open &
    display none

#content
  flex 1
  box-sizing border-box
  overflow auto
  height 100%
  font-family font-serif
  background color-superlight

  h1.title
    position relative
    margin-bottom 40px

    &:after
      font-size 13px
      font-weight normal
      content attr(data-time)
      position absolute
      left 0
      bottom -22px
      color color-lightgray

  .readmore
    font-size 14px
    color color-lightgray
    text-decoration none

    &:hover
      color color-shiningblue

#pagination
  text-align center
  font-size 14px
  margin 20px 0

  a
  span
    width 120px
    display inline-block

  a
    color color-shiningblue

  span
    color color-lightgray

  .prev
    text-align right

  .next
    text-align left

  .sep
    width 10px

#navigation
  font-size 14px

  .prev
    text-align left
    margin-bottom 16px !important

  .next
    text-align right
    margin-bottom 16px !important
  