//Image
image-cover = '/images/nebula.jpg'


// Color
color-transparent = rgba(white, 0)
color-superdark = #0a0a0a
color-dark = #232323
color-gray = #666
color-lightgray = #909090
color-light = #ddd
color-superlight = #f8f8f8
color-shiningred = #e85757
color-shiningblue = #57a3e8
color-paleblue = #f7f8ff


// Font
font-default = 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, sans-serif
font-serif = Georgia, 'PingFang SC', 'Microsoft Yahei', serif
font-mono = Menlo, Monaco, Consolas, 'Courier New', monospace
font-title = Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif


// Layout
menu-width = 247px
banner-width = 24%
