<aside id="banner">
  <button id="toggle"><i class="fontello icon-menu"></i></button>
  <div>
    <img id="avatar" src="<%- theme.avatar_image %>" alt="<%- config.title %>">
    <h1><%- config.title %></h1>
    <h2><%- config.subtitle %></h2>
  <div>
</aside>